<!--
<form novalidate (ngSubmit)="saveInvoice()" [formGroup]="invoiceForm">
  <p><input type="text" pInputText placeholder="Invoice Reference" formControlName="invoiceReference" /></p>
  <p> <p-dropdown [options]="purchaseOrders" placeholder="Select a Purchase Order Number" formControlName="purchaseOrderId"></p-dropdown></p>
  <p> <p-dropdown [options]="suppliers" [filter]="true" placeholder="Select a Supplier Name" formControlName="supplierId"></p-dropdown></p>
  <p>  <p-calendar placeholder="Issue Date" formControlName="issueDate"></p-calendar></p>
  <p>  <p-calendar placeholder="Due to Date" formControlName="dueDate"></p-calendar></p>

  <p><input type="text" pInputText pKeyFilter="num" placeholder="Amount (Net)" formControlName="amountNet"></p>

  <p><input type="text" pInputText pKeyFilter="num" placeholder="Amount (Tax)" formControlName="amountTax"></p>
  <p><input type="text" pInputText pKeyFilter="num" placeholder="Amount (Gross)" formControlName="amountGross"></p>
  <p><p-dropdown [options]="statuses" formControlName="status"></p-dropdown></p>
  <p><textarea pInputTextarea formControlName="description"></textarea></p>
  <p> <p-dropdown [options]="nominalAccounts" [filter]="true" placeholder="Select a Nominal Account Number" formControlName="nominalAccountId"></p-dropdown></p>
  <p><button pButton type="submit" label="Save" [disabled]="!invoiceForm.valid"></button></p>
</form>


{{invoiceForm.value | json}} -->
<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <!--{{invoiceForm.value | json}}-->
      <!-- app invoice View Page -->
      <section class="invoice-edit-wrapper">
        <form novalidate (ngSubmit)="saveInvoice()" [formGroup]="invoiceForm">
          <div class="row">
            <!-- invoice view page -->
            <div class="col-xl-9 col-md-8 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body pb-0 mx-25">
                    <!-- header section -->
                    <div class="row mx-0">
                      <div class="col-xl-4 col-md-12 d-flex align-items-center pl-0">
                        <h6 class="invoice-number mr-75">Invoice Reference</h6>
                        <input type="text" class="form-control pt-25 w-50" placeholder="Invoice Reference"
                               formControlName="invoiceReference">
                      </div>
                      <div class="col-xl-8 col-md-12 px-0 pt-xl-0 pt-1">
                        <div class="invoice-date-picker d-flex align-items-center justify-content-xl-end flex-wrap">
                          <div class="d-flex align-items-center">
                            <small class="text-muted mr-75">Date Issue: </small>
                            <fieldset class="d-flex ">
                              <input type="text" class="form-control pickadate mr-2 mb-50 mb-sm-0"
                                     placeholder="Select Date" formControlName="issueDate">
                            </fieldset>
                          </div>
                          <div class="d-flex align-items-center">
                            <small class="text-muted mr-75">Date Due: </small>
                            <fieldset class="d-flex justify-content-end">
                              <input type="text" class="form-control pickadate mb-50 mb-sm-0" placeholder="Select Date"
                                     formControlName="dueDate">
                            </fieldset>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <!-- logo and title -->
                    <div class="row my-2 py-50">
                      <div class="col-sm-6 col-12 order-2 order-sm-1">
                        <!--<h4 class="text-primary">Invoice</h4>
                        <input type="text" class="form-control" placeholder="Product Name">-->
                      </div>
                      <div class="col-sm-6 col-12 order-1 order-sm-1 d-flex justify-content-end">
                        <h1>Docstack Logo</h1>
                        <!-- <img src="../../../app-assets/images/pages/pixinvent-logo.png" alt="logo" height="46" width="164"> -->
                      </div>
                    </div>
                    <hr>
                    <!-- invoice address and contact -->
                    <div class="row invoice-info">
                      <div class="col-lg-6 col-md-12 mt-25">
                        <h6 class="invoice-to">Purchase Order:</h6>
                        <fieldset class="invoice-address form-group">
                          <select class="form-control invoice-item-select" formControlName="purchaseOrderId">
                            <option *ngFor="let item of purchaseOrders" value="{{item.purchaseOrderId}}">{{item.purchaseOrderNumber}}</option>
                          </select>
                          <!--<input type="text" class="form-control" placeholder="House no.">-->
                        </fieldset>
                        <h6 class="invoice-to">Supplier Name:</h6>
                        <fieldset class="invoice-address form-group">
                          <select class="form-control invoice-item-select" formControlName="supplierId">
                            <option *ngFor="let item of suppliers" value="{{item.supplierId}}">{{item.supplierName}}</option>
                          </select>
                          <!--<textarea class="form-control" rows="4" placeholder="Landmark/Street"></textarea>-->
                        </fieldset>
                        <fieldset class="invoice-address form-group">
                          <input type="number" class="form-control" placeholder="Amount (Net)" formControlName="amountNet">
                        </fieldset>
                        <fieldset class="invoice-address form-group">
                          <input type="number" class="form-control" placeholder="Amount (Tax)" formControlName="amountTax">
                        </fieldset>
                        <fieldset class="invoice-address form-group">
                          <input type="number" class="form-control" placeholder="Amount (Gross)" formControlName="amountGross">
                        </fieldset>
                        <h6 class="invoice-to">Status:</h6>
                        <fieldset class="invoice-address form-group">
                          <select class="form-control invoice-item-select" formControlName="status">
                            <option *ngFor="let item of statuses" value="{{item.value}}">{{item.label}}</option>
                          </select>
                        </fieldset>
                        <fieldset class="invoice-address form-group">
                          <textarea class="form-control" rows="4" placeholder="Description" formControlName="description"></textarea>
                        </fieldset>
                        <h6 class="invoice-to">Nominal Account:</h6>
                        <fieldset class="invoice-address form-group">
                          <select class="form-control invoice-item-select" formControlName="nominalAccountId">
                            <option *ngFor="let item of nominalAccounts" value="{{item.nominalAccountId}}">{{item.nominalAccountCode}}</option>
                          </select>
                        </fieldset>
                        <!--<fieldset class="invoice-address form-group">
                          <div class="input-group mb-3">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="file" (change)="UploadInvoicePDF($event)" accept=".pdf,image/*">
                              <label class="custom-file-label" for="file">Choose file</label>
                            </div>
                            <div class="input-group-append">
                              <span class="input-group-text" id="">Upload</span>
                            </div>
                          </div>
                          </fieldset>-->
                      </div>
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-primary btn-block subtotal-preview-btn" [disabled]="!invoiceForm.valid">Add Invoice</button>
                    <hr>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </form>
      </section>

    </div>
  </div>
</div>
<!-- END: Content-->
