<!-- <p-table [columns]="cols" [value]="invoices" [paginator]="true" [rows]="10" #dt>
  <ng-template pTemplate="caption">
    <div class="ui-helper-clearfix" style="text-align: left">
      <button
        type="button"
        pButton
        icon="pi pi-plus"
        iconPos="left"
        label="Create Invoice"
        (click)="InvoiceAdd()"
      ></button>
      <div style="float: right">
        <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="Global Filter"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width: auto"
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon
          [field]="col.field"
          ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"
        ></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <div [ngSwitch]="col.subfield">
          <input
            *ngSwitchCase="'purchaseOrderNumber'"
            pInputText
            type="text"
            style="width: -webkit-fill-available"
            (input)="
              dt.filter(
                $event.target.value,
                'purchaseOrder.purchaseOrderNumber',
                'contains'
              )
            "
          />
          <input
            *ngSwitchCase="'supplierName'"
            pInputText
            type="text"
            style="width: -webkit-fill-available"
            (input)="
              dt.filter(
                $event.target.value,
                'supplier.supplierName',
                'contains'
              )
            "
          />
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns"
          [ngClass]="
          rowData[col.field] === 'Rejected'
            ? 'rejected'
            : null || rowData[col.field] === 'Pending'
            ? 'pending'
            : null || rowData[col.field] === 'Paid'
            ? 'paid'
            : null || rowData[col.field] === 'Approved'
            ? 'approved'
            : null
        ">
        <div *ngIf="col.subfield; then nestedObjectContent; else normalContent"></div>
        <ng-template #nestedObjectContent>
          {{ rowData[col.field][col.subfield] }}
        </ng-template>
        <ng-template #normalContent>
          {{ rowData[col.field] }}
        </ng-template>
      </td>
      <td>
        <button pButton icon="pi pi-pencil"  [routerLink]="[rowData.invoiceId, 'invoice-edit']"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
 -->
<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <!-- invoice list -->
      <section class="invoice-list-wrapper">
        <!-- create invoice button-->
        <div class="invoice-create-btn mb-1">
          <a href="#" class="btn btn-primary glow invoice-create" role="button" aria-pressed="true">Create
            Invoice</a>
        </div>
        <!-- Options and filter dropdown button-->

        <div class="action-dropdown-btn d-none">
          <div class="dropdown invoice-filter-action">
            <button class="btn border dropdown-toggle mr-1" type="button" id="invoice-filter-btn" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Filter Invoice
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="invoice-filter-btn">
              <a class="dropdown-item" href="#">Downloaded</a>
              <a class="dropdown-item" href="#">Sent</a>
              <a class="dropdown-item" href="#">Partial Payment</a>
              <a class="dropdown-item" href="#">Paid</a>
            </div>
          </div>
          <div class="dropdown invoice-options">
            <button class="btn border dropdown-toggle mr-2" type="button" id="invoice-options-btn"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Options
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="invoice-options-btn">
              <a class="dropdown-item" href="#">Delete</a>
              <a class="dropdown-item" href="#">Edit</a>
              <a class="dropdown-item" href="#">View</a>
              <a class="dropdown-item" href="#">Send</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table invoice-data-table dt-responsive nowrap" style="width:100%">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th>
                  <span class="align-middle">Invoice#</span>
                </th>
                <th>Amount</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Tags</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invoice of invoices">
                <td></td>
                <td> {{invoice.invoiceId}}</td>
                <td>

                </td>
                <td><span class="invoice-amount">$459.30</span></td>
                <td><small class="text-muted">12-08-19</small></td>
                <td><span class="invoice-customer">Pixinvent PVT. LTD</span></td>
                <td>
                  <span class="bullet bullet-success bullet-sm"></span>
                  <small class="text-muted">Technology</small>
                </td>
                <td><span class="badge badge-light-danger badge-pill">UNPAID</span></td>
                <td>
                  <div class="invoice-action">
                    <a href="app-invoice.html" class="invoice-action-view mr-1">
                      <i class="bx bx-show-alt"></i>
                    </a>
                    <a href="app-invoice-edit.html" class="invoice-action-edit cursor-pointer">
                      <i class="bx bx-edit"></i>
                    </a>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- END: Content-->
