<body>
  <!--<app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>-->

  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Docstack Logo</h3>
      </div>

      <ul class="list-unstyled components">
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Invoice</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <a href="#">Invoice List</a>
            </li>
            <li>
              <a href="#">Other 1</a>
            </li>
            <li>
              <a href="#">Other 2</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Other</a>
        </li>
       
      </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
      <app-nav-menu></app-nav-menu>
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
